:root {
    --branco-princ: #FFFFFF;
    --cinza-sec: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030c;
    --font-princ: 'Inter';
    --botao-azul-efeito: #a81c1c;

}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-princ);
    font-family: var(--font-princ);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% 50%;

}

.cont__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-princ);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_sec {
    background-color: transparent;
    border: 2px solid var(--branco-princ);
}

.cont__aviso {
    font-size: 12px;
    color: var(--cinza-sec);
}

.cont__titulo {
    font-size: 28px;
    font: weight 700;

}

.cont__imagem {
    margin: 1em 0 2em 0;
}

.cont__caixa {
    margin: 0 6em;
}

.sec__img {
    width: 80%;

}

.secundario {
    align-items: center;
    margin: 0 10em;

}

.desc__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-princ);
    margin-bottom: 0.5em;
}

.desc__texto {
    color: var(--cinza-sec);
    font-size: 35px;
}

.secundario__bot {
    display: inline-block;
    margin-top: 1em;

}

.cont__descrição {
    padding: 2em;

}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;

}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-princ);

}

.list__item {
    font-size: 32px;
    color: var(--branco-princ);
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-princ);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-sec);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}
.lista__link a:hover{
    color: var(--botao-azul);
    
}
.lista__link a:active{
    color: brown;
}
.cont__botao:hover{
    background-color: #a81c1c;
    color: #00030c;

}